[submodule "dice-roller"]
	path = dice-roller
	url = https://github.com/ChrisLucas02/dice-roller.git
[submodule "moleswhacker"]
	path = moleswhacker
	url = https://github.com/ChrisLucas02/moleswhacker.git
